article()
  border-radius 3px
  background-color white
  box-shadow 0 8px 20px 0 rgba(224, 224, 224, 0.5)
  padding spacingSmall spacingBase
  display block
  border 1px solid #eeeeee
  position relative
  min-height 360px
  @extend $clearfix
  &__description a
    color feldgrauColor
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical
  &__meta
    text-transform uppercase
    opacity 0.65
    letter-spacing 0.1em
    font-size fontSizeMini
    padding-top spacingSmall
    padding-bottom spacingSmall
  &__title
    font-size 2rem
    margin-top 0.2em
    margin-bottom 0.2em
