a
  color linkColor
  text-decoration underline
  transition background-color 0.15s timingFunction, color 0.15s timingFunction, outline 0.1s timingFunction
  border 0
  &:hover,
  &:active,
  &:focus
    text-decoration none
  &:focus
    outline 3px solid rgba(mintColor, 0.7)
    outline-offset 2px

em
  font-style italic

strong, b
  font-weight fontWeightBold

small
  font-size 80%

big
  font-size 150%

h1, h2, h3, h4, h5, h6,
p, dl, table, blockquote, figcaption
  margin 0 0 spacingSmall 0
  &:last-child
    margin-bottom 0

h1, h2, h3, h4, h5, h6
  color feldgrauColor
  letter-spacing -1*0.01rem
  font-weight fontWeightNormal
  font-family fontFamilyHeading
  margin-top spacingBase
  a
    color inherit
    text-decoration none
    border 0

h1
  font-size 2.2rem
  line-height 1.2

h2
  font-size 1.8rem
  line-height 1.25

h3
  font-size 1.6rem
  line-height 1.3

h4
  font-size 1.4rem
  line-height 1.35

h5,
h6
  font-size 1rem
  letter-spacing 0
  line-height 1.4

sub
  font-size 0.8em
  position relative
  top 0.5em

sup
  font-size 0.8em
  position relative
  top -1*0.5em

ul, ol
  padding-left spacingSmall
  margin-bottom spacingSmall
  p
    margin 0
  li > ul,
  li > ol
    margin-bottom spacingMini

figcaption
  text-align center
  font-style italic
  line-height lineHeightBase
  font-size fontSizeSmall

blockquote
  color davysGreyColor
  font-size fontSizeBig
  margin-top spacingBase
  margin-bottom spacingBase
  line-height 1.4
  p
    font-weight fontWeightLight
  & *:last-child
    margin 0

pre,
code
  font-family fontFamilyMonospace

code
  background rgba(davysGreyColor, 0.05)
  border-radius borderRadiusBase
  color inherit
  margin 0 0.2rem
  padding 0.2rem 0.5rem
  font-size fontSizeSmall
  white-space nowrap

pre
  background rgba(davysGreyColor, 0.05)
  padding 0 spacingMini / 2
  & > code
    font-size inherit
    background transparent
    border-radius 0
    display block
    padding spacingMini spacingMini
    white-space pre
