/* font family */
$font-family-base = "Ubuntu", Lato, Calibri, Arial, sans-serif
$font-family-heading = "Suez One", $font-family-base
$font-family-serif = Georgia, "Times New Roman", Times, serif
$font-family-monospace = "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace

/* font size */
$font-size-unit = 18px
$font-size-base = 1rem
$font-size-small = 0.875rem
$font-size-mini = 0.65rem
$font-size-big = 1.2rem

/* fonts */
$line-height-base = 1.875
$letter-spacing-base = 0.01rem

/* font weight */
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-regular = 500
$font-weight-bold = 700

/* color pallete */
$mint-color = #4dba87
$ocean-blue-color = #0072c3
$khaki-color = #efe683
$honeydew-color = #e9fff2
$davys-grey-color = #5b5b5b
$feldgrau-color = #435466
$snow-color = #fcfafa
$border-color = rgba($davys-grey-color, 0.1)
$link-color = $mint-color

/* borders */
$border-radius-base = 0.1875rem
$border-base = 0.07rem solid $border-color
$box-shadow-base = 0 2px 6px 0 $border-color

/* spacings */
$spacing-mini = 0.625rem
$spacing-small = 1.25rem
$spacing-base = 1.875rem
$spacing-large = 2.5rem
$spacing-big = 3.125rem

/* breakpoints and container widths */
$desktop-large = 105rem
$desktop = 80rem
$tablet-large = 64rem
$tablet = 48rem
$mobile-large = 30rem
$mobile = 20rem
$container-width = 1260px
