/* font family */
fontFamilyBase = "Ubuntu", Lato, Calibri, Arial, sans-serif
fontFamilyHeading = "Suez One", fontFamilyBase
fontFamilySerif = Georgia, "Times New Roman", Times, serif
fontFamilyMonospace = "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace

/* font size */
fontSizeUnit = 18px
fontSizeBase = 1rem
fontSizeSmall = .75rem
fontSizeMini = 0.65rem
fontSizeBig = 1.4rem

/* fonts */
lineHeightBase = 1.875
letterSpacingBase = 0.01rem

/* font weight */
fontWeightLight = 300
fontWeightNormal = 400
fontWeightRegular = 500
fontWeightBold = 700

/* color pallete */
primaryColor = #4dba87
secondaryColor = #0072c3
tertiaryColor = #efe683
silverColor = #e9fff2
grayColor = #5b5b5b
baseColor = #435466
backgroundColor = #fcfafa
borderColor = rgba(grayColor, 0.1)
linkColor = primaryColor

/* borders */
borderRadiusBase = 0.1875rem
borderBase = 0.07rem solid borderColor
boxShadowBase = 0 5px 10px rgba(#000, .05)
boxShadowHover = 0 10px 20px rgba(#000, .1)

/* animation */
timingFunction = cubic-bezier(.02, .01, .47, 1)

/* spacings */
spacingMini = .6rem
spacingSmall = 1.5rem
spacingBase = 2rem
spacingLarge = 3rem
spacingBig = 4rem

/* breakpoints and container width */
xs = 0
sm = 32.5rem // 520px
md = 48rem // 768px
lg = 62rem // 992px
xlg = 75rem // 1200px

containerWidth = 78.75rem // 1260px
containerWidthSmall = 45.625rem // 730px
