---
title: "Reflexão: agradeça mais e reclame menos"
description: "Você já parou pra pensar quantas vezes você reclama por dia, ou quantas vezes você reclamou hoje?"
date: 2016-08-23 19:27:09
categories:
- geral
tags:
- reflexao
---

Você já parou pra pensar quantas vezes você reclama por dia, ou quantas vezes você reclamou hoje? Vamos lá, faça um teste! Você vai ficar surpreso em saber que reclamações fazem parte do nosso dia-a-dia e nem percebemos.

E se a gente substituir nossas reclamações diárias por agradecimentos?

<div class="image">
  <%= image_tag '/assets/images/posts/2016/08/thanks.gif' %>
</div>

E se pararmos de reclamar que está chovendo no horário de ir pro trabalho apenas agradecer por ter um trabalho?

E se ao invés de reclamarmos que acordamos muito cedo todos os dias agradecer por ter onde dormir e por acordar com vida todas as manhãs?

E se apenas agradecermos por ter agasalhos para nos aquecer todos dias ao invés de reclamar que está muito frio?

Parar de reclamar que está muito quente e simplesmente agradecer pela água ou refrigerante (com limão e gelo) que tomamos, apenas porque podemos.

<div class="image">
  <%= image_tag '/assets/images/posts/2016/08/nooo.gif' %>
</div>

Ao invés de reclamar que as coisas não estão dando certo, porque não agradecer que você quase conseguiu? agradeca que você teve forças e quase chegou perto.

Vamos pegar o exemplo das posições 1º, 2º e 3º lugar nas Olimpíadas Rio 2016, é comprovado que quem chega em 3º lugar está muito mais agradecido e feliz por estar ali do que quem chegou em 2º, quem consegue 3º lugar sempre pensa que não poderia ter conseguido nada e ganhar bronze é melhor que nada, certo?

Porque não agradecer por ter participado de uma olimpíada, poder correr ao lado de grandes atletas ou ganhar o 3º lugar? Pois foi o que aconteceu comigo nos últimos meses.

---

### Pipefy

Semana passada eu perdi meu emprego, um trabalho que eu amava apesar de tudo, uma empresa _cool_, divertida, com pessoas jovens e motivadas.

Eu poderia tá puto agora, irritado e xingando tudo e todos ao meu redor, mas não estou, muito pelo contrário estou muito feliz! Dai você pensa: **_"mas quem diabos fica feliz por perder o emprego?”_**

<div class="image">
  <%= image_tag '/assets/images/posts/2016/08/angry.gif' %>
</div>

Calma jovem.

Eu não estou feliz por perder meu emprego. Estou feliz por ter tido essa grande oportunidade, de poder trabalhar ao lado pessoas inteligentes e excepcionais, ter tido a oportunidade de aprender muitas coisas legais e crescido um pouco cada dia que estava lá.

Eu poderia ficar apenas olhando o lado negativo de se perder um emprego, mas eu passei por muitas coisas boas quando trabalhava lá, pessoas me apoiavam e tinham paciência comigo, e por esse motivo não posso simplesmente esquecer por não poder mais fazer parte de tudo isso.

Eu poderia ficar triste por não contribuir mais com o crescimento do produto, mas o melhor a fazer é olhar para trás e ver o quanto eu contribui, o quanto eu já fiz por ele para ele estar ali, e agradecer por isso.

> E se substituirmos nossas reclamações diárias por agradecimentos, vamos fazer um teste?

---

### Conclusão

Sempre que acontece algo ruim no meio do caminho simplesmente não conseguimos enxergar o que aconteceu de bom, não por maldade isso é natural no ser humano.

Por isso eu desafio você a reclamar cada vez menos e agradecer todos os dias por ter mais um dia para viver.

Comece aos poucos, tente fazer isso por um dia, depois dois, depois uma semana, é tudo uma questão de costume.

/end
