
// Specify text selection background color and omit drop shadow
::-moz-selection
  background-color: $color-primary // Required when declaring ::selection
  color: $color-white
  text-shadow: none

::selection
  background-color: $color-primary // Required when declaring ::selection
  color: $color-white
  text-shadow: none
