
// Typography
//
$font-family-base: "Work Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
// $font-family-heading: $font-family-base;
$font-family-heading: $font-family-serif;
$font-family-monospace: "courier new", monospace;

// Font Sizes
//
$font-size-inuit: 20px;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Line height
$line-height-base: 1.65;
$line-height-heading: $line-height-base;

// Letter spacing
$base-letter-spacing: 1;
$medium-letter-spacing: .05em;
$heading-letter-spacing: .18em;

// Color palette
//
$palette: (
  white: #fff,
  black: #000,
  text: #535353,
  silver: #f9f2e7,
  background: #fff,
  border: #dedede,
  code: #ededed,
  primary: (
    base: #059,
    light: lighten(#059, 10%),
    dark: darken(#059, 10%),
    transp: transparentize(#059, .5)
  ),
  secondary: (
    base: #272822,
    light: lighten(#272822, 10%),
    dark: darken(#272822, 10%),
    transp: transparentize(#272822, .5)
  ),
  gray: (
    base: #3a3a3b,
    light: lighten(#3a3a3b, 25%),
    dark: darken(#3a3a3b, 10%),
    transp: transparentize(#3a3a3b, .5)
  ),
  social: (
    facebook: #3b5998,
    twitter: #64a8f2,
    gplus: #e85c62,
    linkedin: #0077b5,
    github: #323131,
  )
);

// Other Sizes
$spacings: (
  large: 80px,
  big: 60px,
  base: 30px,
  medium: 20px,
  small: 15px,
  mini: 10px,
);

$base-border-radius: 3px;

// Animations
$base-duration: .25s;
$base-timing: ease-in-out;

// responsive
$screen-phone: 375px;
$screen-large-phone: 480px;
$screen-tablet: 768px;
$screen-large-tablet: 1024px;
$screen-desktop: 1280px;
$screen-large-desktop: 1440px;

$max-width: 860px;
$default-feature: min-width;
