.container
  @extend $container

.container--small
  @extend $container
  max-width: containerWidthSmall

.grid
  display: flex
  flex-flow: row
  flex-wrap: wrap
  justify-content: space-around
  margin-left: -(spacingSmall)
  margin-right: -(spacingSmall)
  &--reverse
    flex-wrap: wrap-reverse
  &__column
    flex: 1
    width: 100%
    display: inline-block
    padding-left: spacingSmall
    padding-right: spacingSmall
    margin-bottom: spacingBase
  &--fit > .grid__column
    flex: 1
  &--full > .grid__column
    flex: 0 0 100%
  &--1of2 > .grid__column
    flex: 0 0 50%
    +below(md)
      flex: 0 0 100%
  &--1of3 > .grid__column
    flex: 0 0 33.3333%
    +below(lg)
      flex: 0 0 50%
    +below(md)
      flex: 0 0 100%
  &--1of4 > .grid__column
    flex: 0 0 25%
    +below(xlg)
      flex: 0 0 50%
    +below(md)
      flex: 0 0 100%
