.article
  @extend .card
  margin-top: 0
  margin-bottom: $spacing-base
  overflow: hidden

  img
    width: 100%
    height: auto

.article-meta
  margin-bottom: $spacing-mini

  a
    padding: 0 5px

  &, a
    font-size: .9rem
    display: inline-block
    color: rgba(66,68,57,0.7)

.article-title
  font-size: 1.8rem
  margin-bottom: $spacing-mini

  &, a
    color: $color-secondary

  +media($desktop)
    font-size: 2.2rem

.single
  .article-header
    text-align: center
    border-bottom: $border-base
    margin-bottom: $spacing-base

  .article-title
    font-size: 2.2rem
    margin: $spacing-mini 0 $spacing-base

    +media($desktop)
      font-size: 3rem

.image
  margin-left: -($spacing-base)
  margin-right: -($spacing-base)

.image,
iframe
  margin-bottom: $spacing-small

.comments
  padding: $spacing-base
  @extend .clearfix

  +media($desktop)
    padding: $spacing-big $spacing-small

iframe
  border: none
  margin: 0
  padding: 0

.responsive-video
  position: relative
  margin-bottom: 30px
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

  object,
  embed,
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.share-icons
  ul
    margin: 0
    padding: 0

  li
    font-weight: $font-weight-light
    padding: 0 10px
    vertical-align: middle

    svg
      display: block


+media(max-width $tablet)
  body.single
    .image
      margin-left: 0
      margin-right: 0

    .main > .container,
    .article, blockquote
      padding-left: 0
      padding-right: 0

    .article
      p, h1, h2,
      h3, h4, h5,
      .share-icons,
      .article-title
        padding-left: $spacing-base
        padding-right: $spacing-base
