.header
  +clearfix
  position: relative
  display: block
  width: 100%
  min-height: 120px

  +media($tablet-large)
    min-height: 100px

  .navbar-toggle
    position: absolute

  .logo
    +position(absolute, $spacing-base null null $spacing-base)
    z-index: 10000
