.header
  +clearfix
  position: relative
  display: block
  width: 100%
  min-height: 120px

  +media($tablet-large)
    min-height: 140px

  .navbar-toggle
    position: absolute

  .logo
    +position(absolute, 20px null null 20px)
    z-index: 10000

    +media($mobile-large)
      top: 40px
      left: 40px

  &.is-fixed
    left: 0
    right: 0
    top: 0
    position: fixed
    z-index: 100

    .navbar-toggle
      position: fixed
      right: 40px

    .logo,
    .navbar-toggle
      svg path,
      svg rect
        fill: $color-base
