html
  font-size fontSizeUnit
  word-spacing 1px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  font-feature-settings "calt" 1
  text-rendering optimizeLegibility

*, *:before, *:after
  box-sizing inherit
  margin 0

html,body
  width 100%
  height 100%

body
  font-family fontFamilyBase
  font-size fontSizeBase
  line-height lineHeightBase
  font-weight fontWeightNormal
  background-color mintColor
  letter-spacing letterSpacingBase
  color feldgrauColor
  margin 0
  padding 0
  border 10px solid transparent
  &.noscroll
    overflow hidden
  +above(sm)
    border-width 20px
  *
    transition .4s cubic-bezier(0.18, 0.98, 0.45, 1)
    transition-property color, stroke, fill, border-color, background-color
  &:before
    z-index 100
    content ''
    user-select none
    pointer-events none
    position fixed
    left 0
    right 0
    bottom 0
    top 0
    border inherit
    border-bottom-width 0
    border-color mintColor
    will-change border-color
    transition border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1),
      border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1)

hr
  border none
  max-width 80px
  height 10px
  margin spacingLarge auto
  position relative
  &:before,
  &:after
    content ''
    display block
    width 75%
    height 4px
    position absolute
    transform rotate(-5deg)
    transition .12s transform timingFunction
  &:before
    background-color mintColor
    top 0
    left 0
  &:after
    background-color feldgrauColor
    bottom 0
    right 0
  &:hover,
  &:focus
    &:before,
    &:after
      transform rotate(-365deg)

figure
  margin 0
  padding 0

.clearfix
  @extend $clearfix

.nuxt-link-exact-active
  pointer-events none

.MainContent
  padding-bottom spacingSmall
  background-color #f7f9fb
  position relative
  z-index 2
