$font-family-base: "Ubuntu", Lato, Calibri, Arial, sans-serif
$font-family-heading: 'Suez One', $font-family-base
$font-family-serif: Georgia, "Times New Roman", Times, serif
$font-family-monospace: 'Fira Code', Menlo, Monaco, 'Courier New', Courier, monospace

$font-size-unit: 18px
$font-size-base: 1rem
$font-size-small: .875rem
$font-size-big: 1.2rem

$line-height-base: 1.875
$letter-spacing-base: .01rem

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-regular: 500
$font-weight-bold: 700

$primary-color: #0860A8
$secondary-color: #629B96
$tertiary-color: #FFEECB
$silver-color: #D7E5E4
$gray-color: #5B5B5B
$text-color: #404756
$bg-base-color: #F1F1E6
$border-color: #D1D2D3

$border-radius-base: .1875rem
$border-base: .07rem solid $border-color

$spacing-mini: .625rem
$spacing-small: 1.25rem
$spacing-base: 1.875rem
$spacing-large: 2.5rem
$spacing-big: 3.125rem

$default-feature: min-width

$desktop-large: 105rem
$desktop: 80rem
$tablet-large: 64rem
$tablet: 48rem
$mobile-large: 30rem
$mobile: 20rem

$container-width: 1260px
